.footer{
    background-color: $grisOscuro;
    padding: $separacion;
    margin-bottom: 0;


    .contenido.footer{
        padding: $separacion;
    }

    .navegacion{
        visibility: visible;
        opacity: 1;
        height: auto;
    }
    .copyright{
        color: $blanco;
        text-align: center;
        margin: 0;
    }

}